<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="Empresa" value="Admin Computers"/>
    <add key="Telefono" value="809-493-3848"/>
    <add key="Direccion" value="calle La hermosa Jazmin blanca #28"/>
    <add key="RNC" value="NUD348834992"/>
    <add key="Email" value="adminco@computerprovider.com"/>
    <add key="Impuestos" value="0.18"/>
    <add key="Ganancia" value="0.30"/>
  </appSettings>
  
  <connectionStrings>
    <add name="default" connectionString="Data Source=PREISLY;Initial Catalog=PuntoVenta;Integrated Security=True;" />
    <add name="PuntoVenta.Properties.Settings.PuntoVentaConnectionString"
      connectionString="Data Source=PREISLY;Initial Catalog=PuntoVenta;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>